*{
  margin: 0;
}

.header{
  background: #2c3e50;
  width: 100%;
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.name{
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
}
.data{
  font-family: 'Montserrat', sans-serif;
}

.bar-nav{
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

